# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
.cache
.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.pyo
.hypothesis/

# Environments (仮想環境)
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs (VSCodeなどは個人設定なので本来はここには書かないほうがベター)
.vscode/
.idea/

docs/Use_AI/